[submodule "LLMBenchCore"]
	path = LLMBenchCore
	url = https://github.com/ashleyharris-maptek-com-au/LLMBenchCore.git
[submodule "VisGeomBench"]
	path = VisGeomBench
	url = https://github.com/jashvira/VisGeomBench.git
